<ion-content *ngIf="vendorDeatil">

  <section class="full-screen" *ngIf="vendorDeatil.landingPage?.heroIntro?.active">
    <div class="hero-intro">
      <h1 class="hero-intro-title">
        <span class="pre-title">{{ vendorDeatil.landingPage?.heroIntro?.preTitle }}</span>
        {{ vendorDeatil.landingPage?.heroIntro?.title }}
      </h1>
      <ng-container *ngIf="vendorDeatil.landingPage?.heroIntro?.routerLink || vendorDeatil.landingPage?.heroIntro?.extLink">
        <a class="btn" 
           [routerLink]="vendorDeatil.landingPage?.heroIntro?.routerLink"
           [href]="vendorDeatil.landingPage?.heroIntro?.extLink"
           [target]="vendorDeatil.landingPage?.heroIntro?.extLink ? '_blank' : '_self'">
          <b>{{ vendorDeatil.landingPage?.heroIntro?.linkLabel }}</b>
        </a>
      </ng-container>
    </div>

    <video playsinline loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source [src]="vendorDeatil.landingPage?.heroIntro?.videoLink" type="video/mp4">
    </video>

    <div class="scroll-arrow-container">
      <p>GoYaana For Business</p>
      <p><span (click)="scrollToMasonry()"></span></p>
    </div>
  </section>

  <section *ngIf="vendorDeatil.landingPage?.slider?.active">
    <div class="image-container">
      <div class="embla" #embla>
        <div class="embla__container">
          <div class="embla__slide" *ngFor="let slide of vendorDeatil.landingPage?.slider.items">
            <div class="slide position-relative">
              <img [src]="slide.img" class="w-100" />
              <div class="slide-info">
                <div class="caption">
                  <h1>{{ slide.heading }}</h1>
                  <h3>{{ slide.subHeading }}</h3>
                  <div class="slide-btn-container mt-4" 
                       [ngClass]="{'small-screen': smallScreen}" 
                       *ngIf="slide?.btn">
                    <button (click)="navgigate(slide)">
                      {{ slide?.btn?.label }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        <ion-button fill="clear" class="nav-btn left" (click)="scrollPrev()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="nav-btn right" (click)="scrollNext()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </section>


  <aside class="container">
    <section class="goyanna_exp" *ngIf="vendorDeatil?.landingPage?.experience?.active">
      <div class="container">
        <div class="row m-0">
          <div class="col-12 p-0">
            <div class="headng_btn_wrap d-flex justify-content-between align-items-end">
              <h1 class="heading">{{ vendorDeatil.landingPage?.experience?.heading }}</h1>
            </div>
            <p class="margn-t-b">{{ vendorDeatil.landingPage?.experience?.desc }}</p>
          </div>
        </div>
        <div class="row m-0 exp_block" *ngIf="vendorDeatil.landingPage?.experience.items?.length">
          <div class="col-6" *ngFor="let slide of vendorDeatil.landingPage?.experience?.items; let i = index">
            <div class="exp_inner" [ngClass]="(i === 0 || i === 2) ? 'ml-0' : 'mr-0' ">
              <figure>
                <img class="progressive__img lazyload"
                     [src]="slide.img | safe: 'url'"
                     alt="{{ slide.label }}"
                     title="{{ slide.label }}">
              </figure>
              <figcaption>
                <h3>{{ slide.label }}</h3>
              </figcaption>
              <ng-container *ngIf="slide.routerLink || slide.extLink">
                <a class="Financials"
                   [routerLink]="[slide.routerLink]"
                   [href]="slide.extLink"
                   [target]="slide.extLink ? '_blank' : '_self'">
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="most_loved_destination" *ngIf="vendorDeatil.landingPage?.destinations?.active">
      <div class="container">
        <div class="row m-0">
          <div class="col-12 p-0">
            <div class="headng_btn_wrap d-flex justify-content-between align-items-center">
              <h2 class="heading">{{ vendorDeatil.landingPage?.destinations.heading }}</h2>
            </div>
            <p class="margn-t-b">{{ vendorDeatil.landingPage?.destinations.desc }}</p>
          </div>
        </div>
        <div class="row m-0" style="overflow:auto; flex-wrap:nowrap;" *ngIf="vendorDeatil.landingPage?.destinations.items?.length">
          <div class="wrap_destination px-1 display-3box"
               [ngClass]="{'display-3box-n-half': vendorDeatil.landingPage?.destinations.items.length > 3, 'small-wrap_destination': smallScreen}"
               *ngFor="let slide of vendorDeatil.landingPage?.destinations.items">
            <div class="wrap_destination_inner">
              <figure>
                <img class="progressive__img lazyload" [src]="slide.img | safe: 'url'" alt="{{ slide.name }}">
              </figure>
              <figcaption>
                <h3>{{ slide.name }}</h3>
                <p>{{ slide.location }}</p>
                <span>{{ slide.views }}</span>
              </figcaption>
              <ng-container *ngIf="slide.routerLink || slide.extLink">
                <a class="Financials"
                   [routerLink]="[slide.routerLink]"
                   [href]="slide.extLink"
                   [target]="slide.extLink ? '_blank' : '_self'">
                </a>
              </ng-container>
              <ng-container *ngIf="slide.btn?.extLink || slide.btn?.routerLink">
                <a class="action-btn"
                   [ngClass]="{'small-action-btn': smallScreen}"
                   [href]="slide.btn.extLink"
                   [routerLink]="[slide.btn.routerLink]">
                  {{ slide.btn.label }}
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="masonry" class="mt-2" [ngClass]="{'small-screen' : smallScreen}"
             *ngIf="vendorDeatil.landingPage?.masonry?.active">
      <div class="container">
        <div class="row m-0">
          <div class="col-12 p-0">
            <div class="headng_btn_wrap d-flex justify-content-between align-items-center">
              <h2 class="heading">{{ vendorDeatil.landingPage?.masonry?.title }}</h2>
            </div>
            <p class="margn-t-b">{{ vendorDeatil.landingPage?.masonry?.desc }}</p>
          </div>
        </div>
        <app-grid-gallery 
          [images]="vendorDeatil.landingPage?.masonry?.items"
          [cols]="smallScreen ? 2 : vendorDeatil.landingPage?.masonry.cols"
          [rowHeight]="vendorDeatil.landingPage?.masonry.rowHeight">
        </app-grid-gallery>
      </div>
    </section>

    <section *ngIf="vendorDeatil.landingPage?.stories?.active">
      <div class="container">
        <div class="row m-0">
          <div class="col-12 p-0">
            <div class="headng_btn_wrap flex space-between">
              <h2 class="heading">{{ vendorDeatil.landingPage?.stories.heading }}</h2>
            </div>
            <p class="margn-t-b">{{ vendorDeatil.landingPage?.stories.desc }}</p>
          </div>
        </div>
        <div class="row m-0" *ngIf="vendorDeatil.landingPage?.stories.items?.length">
          <div class="col-12 p-0 lightboxstories">
            <div class="image_tn" *ngFor="let slide of vendorDeatil.landingPage?.stories.items" (click)="showDialogMethod(slide)">
              <a>
                <img class="progressive__img lazyload" [src]="slide.img | safe: 'url'" alt="story">
              </a>
              <img class="play-btn" src="../../../assets/images/play-button.png">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="html5-lightbox" *ngIf="showDialog && selectedVideoUrl">
      <div id="html5-lightbox-overlay" (click)="showDialog = false"></div>
      <div id="html5-lightbox-box">
        <div id="html5-elem-box">
          <div id="html5-elem-wrap">
            <div id="html5lightbox-video">
              <iframe frameborder="0" width="100%" height="100%" [src]="selectedVideoUrl"></iframe>
            </div>
          </div>
          <div id="html5-close" (click)="showDialog = false"></div>
        </div>
      </div>
    </section>
  </aside>
</ion-content>