.image-viewer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    span {
        position: absolute;
        right: 16px;
        color: black;
        top: 8px;
        cursor: pointer;
    }
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}